body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

main {
    flex-grow: 1;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}